<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
<h1>The best companies</h1>
<table>
    <tr>
        <td>Company name</td>
        <td>Price</td>
        <td>Percent</td>
        <td>Open</td>
        <td>High</td>
        <td>Low</td>
    </tr>
    {% for oneCompany in data %}
        <tr>
            <td>{{ oneCompany.companyName }}</td>
            <td>{{ oneCompany.price }}</td>
            <td>{{ oneCompany.percent }}%</td>
            <td>{{ oneCompany.open }}</td>
            <td>{{ oneCompany.high }}</td>
            <td>{{ oneCompany.low }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>