{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm messages {{ message == '' ? 'd-none' : '' }}" style="border: 4px double black">
            {{ message ?? '' }}
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <form class="steal-data" method="post" action="{{ path('stealing_process') }}">
                <button type="submit" class="btn btn-primary">Get new data</button>
            </form>
        </div>
        <div class="col">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form class="xml-create" method="post" action="{{ path('create_xml') }}">
                <button type="submit" class="btn btn-success">Create new XML</button>
            </form>
            {% if isExistFile %}
                <a href="{{ asset('uploads/MarketData.xml') }}" class="badge badge-light">View XML</a>
            {% endif %}
        </div>
        <div class="col-sm">
            {{ form_start(letterForm, {'attr' : {'class':'send-letter','method' : 'post', 'action' : path('send_letter') } }) }}
                {{ form_widget(letterForm.email, {'attr' : { 'placeholder' : 'Your Emal'}}) }}
                <button type="submit" class="btn btn-info">Send email</button>
                {{ form_errors(letterForm) }}
            {{ form_end(letterForm) }}
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{ names |json_encode|raw }},
            datasets: [{
                label: 'Market Bar',
                data: {{ percents |json_encode|raw }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(0,0,128,0.2)',
                    'rgba(0,0,255,0.2)',
                    'rgba(0,128,0,0.2)',
                    'rgba(0,128,128,0.2)',
                    'rgba(0,255,0,0.2)',
                    'rgba(0,255,255,0.2)',
                    'rgba(128,0,128,0.2)',
                    'rgba(128,128,0,0.2)',
                    'rgba(255,0,0,0.2)',
                    'rgba(255,0,0,0.2)',
                    'rgba(255,0,255,0.2)',
                    'rgba(255,255,0,0.2)',
                    'rgba(255,255,255,0.2)',
                    'rgba(192,192,192,0.2)',
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                    'rgba(0,0,128,0.5)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0,0,128,1)',
                    'rgba(0,0,255,1)',
                    'rgba(0,128,0,1)',
                    'rgba(0,128,128,1)',
                    'rgba(0,255,0,1)',
                    'rgba(0,255,255,1)',
                    'rgba(128,0,128,1)',
                    'rgba(128,128,0,1)',
                    'rgba(255,0,0,1)',
                    'rgba(255,0,0,1)',
                    'rgba(255,0,255,1)',
                    'rgba(255,255,0,1)',
                    'rgba(255,255,255,1)',
                    'rgba(192,192,192,1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(0,0,128,0.2)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
{% endblock %}